<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gmd.dao.ComponetMapper" >
  <resultMap id="BaseResultMap" type="com.gmd.entity.Componet" >
    <id column="componet_id" property="componetId" jdbcType="INTEGER" />
    <result column="componet_name" property="componetName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from componet
    where componet_id = #{componetId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gmd.entity.Componet" >
    insert into componet (componet_name)
    values (#{componetName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gmd.entity.Componet" >
    update componet
    set componet_name = #{componetName,jdbcType=VARCHAR}
    where componet_id = #{componetId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select componet_id, componet_name
    from componet
    where componet_id = #{componetId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select componet_id, componet_name
    from componet
  </select>
</mapper>